<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>piggy-path mypage 마이페이지</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/mypage.css">
  <script src="/js/mypage.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
    <div class="profile">
      <div class="box">
        <% if(profileImage) { %>
          <img src="<%= profileImage %>" alt="" class="user-image" />
          <% } else { %>
            <img src="/img/profile.jpg" alt="" class="user-image" />
            <% } %>
      </div>
      <div class="user-info">
        <h1 style="font-size: 24px; margin-bottom: 10px">
          <%= name %>
        </h1>
        <h2 style="font-size: 16px; margin-bottom: 10px">
          <%= introduction %>
        </h2>
        <button class="profile-write">프로필 수정</button>
      </div>
    </div>

    <div id="modal" class="modal-overlay">
      <div class="modal-window">
        <div class="title"></div>
        <div class="close-area">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <!-- 프로필 수정 팝업 영역 -->
        <div class="modal-content">
          <h2>프로필 수정</h2>
          <p>piggypath 대표 프로필과 닉네임을 수정해보세요</p>
          <div class="profile">
            <% if(profileImage) { %>
              <img src="<%= profileImage %>" alt="" />
              <% } else { %>
                <img src="/img/profile.jpg" alt="" />
                <% } %>

          </div>
          <div class="upload-picture">
            <input class="picture-modify" type="file" accept="image/jpeg, image/png" />
            <button class="picture-delete">사진 삭제</button>
          </div>
          <h3>닉네임</h3>
          <textarea class="name-text" placeholder="이름을 수정해보세요"><%= name %></textarea>
          <h3>소개</h3>
          <textarea class="introduce-text" placeholder="소개 최대 30자 입력 가능합니다"><%= introduction %></textarea>
          <button class="profile-btn">적용</button>
        </div>
      </div>
    </div>


    <h1 class="title">
      <span>"<%= name %>"</span>
      님이 좋아하는 맛집 총 <span id="likesCount">0</span>개
    </h1>

    <div id="likesList"></div>
    <section class="pageNumList">
      <div class="buttons"></div>
    </section>
</body>

</html>