<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="/js/search.js" defer></script>
  <style>
    /* common */
    * {
      font-family: 'Noto Sans KR', sans-serif;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
      display: block;
    }

    .wrap {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1400px;
    }

    /* header */
    header {
      z-index: 99;
      position: fixed;
      top: 0;
      padding: 10px 0;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
    }

    header .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1>a {
      display: block;
      width: 257px;
      height: 53px;
      background: no-repeat url('https://young-gyu-bucket.s3.ap-northeast-2.amazonaws.com/image/review/1687917967553-logo.png');
    }

    .login {
      color: #ff2e00;
      font-weight: bold;
      text-decoration: none;
    }

    /* Thumbnail */
    .thumbnail {
      max-width: 1400px;
      margin: 74px auto 0;
    }

    .thumbnail img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    /* place */
    .place {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .place .title {
      padding: 32px 0 24px;
      font-size: 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 74px auto 0;
    }

    .place .title span {
      color: #ff2e00;
    }

    .place .like {
      position: absolute;
      font-size: 32px;
      top: 30px;
      right: 20px;
      color: #ff2e00;
    }


    .menu-title {
      vertical-align: top;
    }

    .menu {
      display: inline-block;
    }

    .menu>li>span:nth-child(1) {
      display: inline-block;
      width: 70%;
    }




    .courses-container {
      cursor: pointer;
    }

    .course {

      background-color: #fff;

      display: flex;
      max-width: 800px;
      overflow: hidden;
      width: 100%;

      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .course h6 {
      opacity: 0.6;
      margin: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .course h2 {
      letter-spacing: 1px;
      margin: 10px 0;
    }

    .course-preview {
      background-color: #2A265F;
      color: #fff;
      max-width: 150px;
    }

    .course-preview a {
      color: #fff;
      display: inline-block;
      font-size: 12px;
      opacity: 0.6;
      margin-top: 30px;
      text-decoration: none;
    }

    .course-info {
      padding: 30px;
      position: relative;
      width: 100%;
    }

    .pageNumList {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .pageNumList>.buttons {
      position: relative;
      padding: 1rem 0;
      display: inline-flex;
      justify-content: center;
      width: 100%;
    }

    .buttons>.button {
      padding: 0 1rem;
      font-size: 1.2rem;
      color: #333;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    .buttons>.button.active,
    .buttons>.button:hover {
      color: #ff2e00;
      font-weight: 600;
      text-decoration: underline;
    }

    .buttons>.prev {
      position: absolute;
      left: -2.5rem;
    }

    .buttons>.next {
      position: absolute;
      right: -2.5rem;
    }

    /* search */
    .search {
      margin-top: 74px;
    }

    .search .search-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .search .title {
      margin: 40px 0;
      padding-left: 10px;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      color: #ff2e00;
    }

    .search .input-container {
      position: relative;
      width: 40%;
    }

    .search input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
      padding-left: 20px;
      margin: 0 auto;
      border-radius: 100px;
      outline: none;
      height: 52px;
      width: 100%;
    }

    .search .input-container i {
      position: absolute;
      top: 16px;
      right: 11px;
      width: 30px;
      height: 30px;
      color: #ff2e00;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <%- include('includes/header') %>
    <main>
      <%- include('includes/searchbox') %>


        <section class="place">
          <h1 class="title"><span>'<%= data %>'</span>에 대한 검색 결과입니다.</h1>


          <% result.forEach((info)=> { %>
            <div class="courses-container" onclick="window.location.href='../../../detail/<%= info.placeId %>'">
              <div class="course">
                <img src="<%= info.imageUrl %>" class="course-preview">
                </img>
                <div class="course-info">
                  <h6 style="font-size: 13px;">
                    <%= info.address %>
                  </h6>
                  <h2 style="font-size: 24px; font-weight: 600;">
                    <%= info.name %>
                  </h2>
                  <p style="color: gray; font-size: 14px;">
                    <%= info.foodType %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>
        </section>
        <section class="pageNumList">
          <div class="buttons">

            <% if(presentminPageCount !==1) { %>
              <a class="button" href="/api/places/search/<%= data %>?page=<%= presentminPageCount - 1 %>">
                < </a>
                  <% } %>

                    <% for (i=presentminPageCount; i <=presentMaxPageCount; i++) { %>

                      <% if(maxPageCount> i) { %>
                        <% if(page==i) { %>
                          <a class="button active" href="/api/places/search/<%= data %>?page=<%= i %>">
                            <%= i %>
                          </a>
                          <% } else { %>
                            <a class="button" href="/api/places/search/<%= data %>?page=<%= i %>">
                              <%= i %>
                            </a>
                            <% } %>

                              <% } %>
                                <% } %>

                                  <% if(presentMaxPageCount < maxPageCount) { %>
                                    <a class="button"
                                      href="/api/places/search/<%= data %>?page=<%= presentMaxPageCount + 1 %>">
                                      > </a>
                                    <% } %>

          </div>
        </section>
    </main>
</body>

</html>